h1{
  color: black;
}
body{
  margin: 20px 20px;
}
table {

  border: 1px solid black;
  table-layout: fixed;
  border-collapse: collapse;
}
canvas{
  width: 700px;
  height: 400px;
  border: 2px solid rgb(255,84,104);
  background: white;
  margin-block-start: 5px;
}

li {
  background: rgba(255,84,104,0.3);
  border: 2px solid rgb(255,84,104);
  font-size: 20px;
  margin-top: 10px;
  padding: 10px 10px 10px 10px;

}
