h1{
  color: black;
}
body {
  background: white;


}
table {

  border: 1px solid rgb(255,84,104);
  table-layout: fixed;
  border-collapse: collapse;
}

li {
  background: rgba(255,84,104,0.3); 
  border: 2px solid rgb(255,84,104);
  margin: 20px 10px 10px 10px;

  padding: 10px 10px 10px 10px;

}
